$bgColor: $selectedChatBgColor;
.chatListItem {
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 1px 13px;
  @include setDefaultAndHoverBg(#101010, #1e1e1e);
  &:active {
    background-color: $bgColor;
  }
  .chatListAvatar {
    @include getImgDimensions(0.494);
  }
  .chatListData {
    margin: 5px 0px;
    .chatListName {
      margin-top: 6px;
      margin-bottom: -6px;
    }
    .chatListLastMessage {
      margin-top: 2px;
      margin-bottom: 6px;
      .lastMsgSender {
      }
      .fileIcon {
        color: #9c9c9c;
        font-size: 20px;
        margin: -2px 0px 0px 3px;
      }
    }
  }
}
.isSelected {
  @include setDefaultAndHoverBg($bgColor, $bgColor);
}
