.chatpage {
  min-width: 340px;
  .chatpageDiv {
    background-color: $chatpageBgColor;
    border-radius: 10px;
  }
  .chatpageView {
    min-height: 500px;
    height: calc(100vh - 85px);
    margin: 15px 10px 10px 0px;
  }
  .chatListView {
    .chatListHeader {
      color: #6a9bf0;
      border-radius: 20px;
      .btnCreateGroup {
        position: absolute;
        border-radius: 20px;
        top: 7px;
        right: 9px;
      }
    }
    .searchChat {
      margin-top: -20px;
    }
    .chatList {
      height: 100%;
      background-color: #9fb1cf30;
      border-radius: 15px;
    }
  }
  .messagesView {
    .messagesHeader {
      border-radius: 10px;
      margin-bottom: 5px;
    }
    .messagesBody {
      height: 100%;
      background-color: #9fb1cf30;
      border-radius: 15px;
      .messages {
        position: absolute;
        width: calc(100% - 17px);
        height: calc(100% - 85px);
        .msgArea {
          position: absolute;
          @include setPositions(0px, 0px, 0px, 0px);
          width: 98%;
          margin: auto;
          @include scrollbars(4px);
        }
        .msgListBottom {
          &::before {
            content: "";
          }
        }
      }
      .msgInputDiv {
        @include setPositions($bottom: 10px, $left: 10px, $right: 10px);
        .attachFile {
          border-radius: 7px 0px 0px 7px;
        }
        .msgInput {
          font-size: 18px;
          max-height: 100px;
          cursor: text;
          caret-color: #6a9bf0;
          line-height: 26px;
          padding: 12px 0px;
          outline: none;
          overflow-x: hidden;
          overflow-y: auto;
          word-break: break-all;
          @include scrollbars(5px);
          &:empty::before {
            content: "Enter a Message...";
            color: grey;
          }
        }
        .sendButton {
          border-radius: 0px 7px 7px 0px;
        }
      }
    }
  }
}
