$bgColor: $selectedChatBgColor;
.chatListItem {
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 1px 13px;
  @include setDefaultAndHoverBg(#101010, #1e1e1e);
  &:active {
    background-color: $bgColor;
  }
  .chatListAvatar {
    @include getImgDimensions(0.494);
  }
  .chatListData {
    margin: 5px 0px;
    .chatListName {
      margin-bottom: -6px;
    }
    .chatListLastMessage {
    }
  }
}
.isSelected {
  @include setDefaultAndHoverBg($bgColor, $bgColor);
}
