$bgColor: $selectedChatBgColor;
.chatListItem {
  position: relative;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 1px 13px;
  @include setDefaultAndHoverBg(#101010, #1e1e1e);
  &:active {
    background-color: $bgColor;
  }
  .chatListAvatar {
    @include getImgDimensions(0.494);
  }
  .chatListData {
    margin: 5px 0px;
    .chatListName {
      margin: 6px 0px 3px 0px;
      line-height: 23px;
      width: calc(73% - 30px);
      word-wrap: break-word;
    }
    .lastMsgDate {
      position: absolute;
      color: #b9b9b9;
      @include setPositions($top: 12px, $right: 15px);
    }
    .chatListLastMessage {
      margin: 2px 8px 6px 0px;
      line-height: 20px;
      .fileIcon {
        color: #9c9c9c;
        font-size: 20px;
        margin: -2px 0px 0px 3px;
      }
    }
  }
}
.isSelected {
  @include setDefaultAndHoverBg($bgColor, $bgColor);
}
