@mixin getImgDimensions($factor) {
  width: $baseImgDimension * $factor;
  height: $baseImgDimension * $factor;
}

@mixin setDefaultAndHoverBg($defaultBgColor, $hoverBgColor) {
  background-color: $defaultBgColor;
  &:hover {
    background-color: $hoverBgColor;
  }
}

@mixin setBoxShadow($offset: 4px, $blurRadius: 4px, $shadowColor: #474747) {
  box-shadow: $offset $offset $blurRadius $shadowColor,
    (-$offset) (-$offset) $blurRadius $shadowColor,
    (-$offset) $offset $blurRadius $shadowColor,
    $offset (-$offset) $blurRadius $shadowColor;
}

@mixin scrollbars(
  $size: 7px,
  $foregroundColor: #686868,
  $backgroundColor: transparent
) {
  // (Chrome)
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foregroundColor;
    &:hover {
      background: #aaa;
    }
  }
  &::-webkit-scrollbar-track {
    background: $backgroundColor;
  }
  // (Firefox)
  scrollbar-color: $foregroundColor $backgroundColor;
}

@mixin setListItemBaseStyles(
  $bgDefault: #101010,
  $bgHover: #1d1d1d,
  $bgActive: #30002d
) {
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: $bgDefault;
  &:hover {
    background-color: $bgHover;
  }
  &:active {
    background-color: $bgActive;
  }
}

@mixin setPositions($top: auto, $bottom: auto, $left: auto, $right: auto) {
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin setIconStyles {
  transition: background-color 0.2s;
  &:hover {
    background-color: #aaaaaa40;
  }
}

@mixin setFileSizeColor($fontColor) {
  & > div {
    color: $fontColor;
  }
}
