.userListItem {
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #101010;
  &:hover {
    background-color: #222;
  }
  &:active {
    background-color: #3d0049;
  }
  .userListAvatar {
    @include getImgDimensions(0.42);
    object-fit: cover;
  }
  .userListData {
    .userListName {
      margin-bottom: -12px;
    }
    .userListEmail {
      margin-bottom: 12px;
    }
  }
}
