.userListItem {
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #101010;
  &:hover {
    background-color: #222;
  }
  &:active {
    background-color: #3d0049;
  }
  .userListAvatar {
    @include getImgDimensions(0.5);
    object-fit: cover;
  }
  .userListData {
    margin: 5px 0px;
    .userListName {
      margin-bottom: -6px;
    }
  }
}
