$chatpageBgColor: #202c33c7;
$selectedChatBgColor: #00131b77;
$baseFontSize: 19px;
$baseImgDimension: 100px;
$fullDimension: 100%;
$appFontUrl: "https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&display=swap";
$appBgUrl: "https://res.cloudinary.com/abhi-sawant/image/upload/v1654753525/bg8_paxn6w.png";
