@import "variables";
@import "mixins";
@import "App";
@import "HomePage";
@import "ChatsPage";
@import "UserListItem";
@import "ChatListItem";
@import "groupMemberItem";
@import url($appFontUrl);

body {
  font-family: "Mirza";
  background-size: 100% 100%;
  background-attachment: fixed;
  background-image: url($appBgUrl);
  // -ms-overflow-style: none; // Hide scrollbar in ie/edge
  // scrollbar-width: none; // Hide scrollbar in firefox
  .pointer {
    cursor: pointer;
  }
  .notAllowed {
    cursor: not-allowed;
  }
  //  Hide scrollbar for chrome/safari/opera
  // ::-webkit-scrollbar {
  //   display: none;
  // }
  img {
    display: inline-block;
    object-fit: cover;
  }
  & * {
    @include scrollbars(8px);
  }
}
