body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-position: center;
  background-image: linear-gradient(
    120deg,
    rgba(144, 255, 249, 0.5),
    rgba(102, 11, 187, 0.7)
  );
}
